body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #1F2937;
}

.nav-logo {
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    margin-left: 78px;

    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.nav-link {
    flex: 1 1 auto;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
    margin-right: 78px;

    font-size: 18px;
    color: #E5E7EB;

}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 38px;
    color: aliceblue;

}

.hero-container {
    display: flex;
    background-color: #1F2937;
    height: 400px;
    padding-top: 100px;    
    gap: 86px;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    margin-left: 86px;
    text-align: left;
    inline-size: 300px;
    overflow-wrap: break-word;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 86px;
    inline-size: 350px;
    overflow-wrap: break-word;
}

button.sign-up {
    background: #3882f6;
    border: 1px solid #3882f6;
    color: white;
    margin-left: 86px;
    width: 88px;
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px; /* hakkelak finten:) */
    color: #727a86;
    background-color: #a1a8b3;
    height: 250px;
    margin-right: 86px;
    text-align: center;
    overflow-wrap: break-word;
}
.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-left: 86px;
    margin-right: 86px;
    padding: 24px;
    margin-bottom: 58px;
}

.information-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 38px;
}

.information-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
}

.box {
    flex: auto;
    align-items: center;
}

.box-image {
    border-style: solid;
    border-color: #3882f6;
    background-color: #ffffff;
    border-radius: 24px;
    width: 200px;
    height: 200px;
}

.box-text {
    font-size: 18px;
    margin-left: 28px;
    inline-size: 148px;
    text-align: center;
    overflow-wrap: break-word;
}

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 78px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937
}

.quote-author {
    font-size: 28px;
    font-weight: 900;
    margin-left: 44%;
    margin-top: 8%;
}
